 *{
     margin:0;
    padding:0;
    
 }

 .phone {
     position:relative;
    
 }
 .phone1 {
     width:400px;
     height:250px;
     border:2px solid #c4c7c7;
     position:absolute;
     top:460px;
     left:250px;
     cursor:pointer;
     background-color: #a3b8b6;
 }

 .Aloqa {
     width:100%;
     height: 400px;
 }

 .number {
     font-size:20px;
     display:flex;
     justify-content:center;
     align-items:center;
     position:absolute;
     top:50%;
     left:125px;
     transform:translateY(170%);
     opacity:0;
     transition: 1s;
 }

 #son {
     text-decoration: none;
     color: #858685;
 }

.phone1:hover .number {
    transform:translateY(0);
    opacity:1;
}

.inst {
    width: 400px;
    height: 250px;
    border: 2px solid #c4c7c7;
    position:absolute;
    left: 800px;
    top: 460px;
    cursor: pointer;
    background-color: #a3b8b6;
}

.talk {
    margin-top: 0px;
    font-size: 17px;
    color: black;
}

.talk2 {
    font-size: 15px;
    margin-top: 8px;
    font-style: normal;
    color: black;
}

.customer {
    margin-top: 0px;
    color: black;
    font-size: 17px;
}

.customer2 {
    color: black;
    margin-top: 8px;
    font-size: 15px;
    font-style: normal;
}

#contact {
    width: 140px;
    height: 60px;
    margin-left: 130px;
    margin-top: 40px;
    background-color: #a3b393;
    font-size: 18px;
    font-weight: bold;
}

